<<<<<<< HEAD
/* Header */

#react-app {
    padding-top: 30px;
}

=======
/* Begin Common */

.opacity-50 {
    opacity: 0.5;
}


/* End Common */


/* Begin Header */

>>>>>>> 81593a65808c4c9ecd8568d2a2f9c0cdcb552f77
.header {
    background-color: rgb(52, 52, 52);
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 120px;
    margin-bottom: 0px;
}


/* End Header */


/* Begin User List */

.gold {
    color: rgb(218, 165, 32);
}

.silver {
    color: rgb(168, 168, 168);
}

.bronze {
    color: rgb(150, 90, 56);
}


/* End User List */


/* Begin Questions */

.answer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    white-space: normal;
}

.question-description {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

.timeout-progress {
    padding: 1.5rem;
    margin: 2em;
}


/* End Questions */


/* Begin Chat */

.chat-message-system {
    font-style: italic;
}

.chat-message-nick-bold {
    font-weight: bold;
}

.chat-messages-list {
    height: 20rem;
    overflow-y: scroll;
}


/* End Chat */